.app{
    margin: 40px;
    display: flex;
    justify-content: center;
}
.container{
     height:400px;
     width:300px;
     border-radius: 20px;
     background-color:antiquewhite;
     /* margin: 10px; */
     padding: 10px;
}
.top{
    border-radius:10px 10px 10px 0px;

    margin: auto;
    height: 200px;
    width: 280px;
    background-color: aqua;
    display: flex;
}
.left_top{
    border-radius: 10px 0px 0px 10px;
    height:200px ;
    width: 140px;
    background-color: aliceblue;
    /* display: flex;
    justify-content: space-between; */
}
.nav{
    display: flex;
    justify-content: space-between;
}
.heading{
    font-size: 20px;
    margin-left: 3px;
}
.img{
    height: 30px;
    width: 40px;
}
.list_img{
    height: 20px;
    width: 30px;
}
.item{
    /* overflow:scroll; */
}
.item li{
  height: 20px;
  width: inherit;
  border:2px solid rebeccapurple ;
  margin: 3px;
  /* background-color: red; */
  list-style-type: none;

}
.right_top{
    border-radius: 0px 10px 10px 0px;
    height: 200px;
    width: 140px;
    background-color:red;
    
}
.buttom{
    margin: auto;
    height: 200px;
    width: 280px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer_div{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color:wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner_div{
    height: 80px;
    width:80px;
    border-radius: 50%;
    background-color:white;
}